<div class="sub-title is-flexBox">
  <p>Image Management</p>
  <div class="sub-title__plus">
    <p class="sub-title__plus__text">+</p>
  </div>
</div>

<div class="is-flexBox hcp-block section-paddinginside">
    <ul class="image-list">

      <ul class="is-flexBox image-list__item image-list__item--red">
        <li>id</li>
        <li>udid</li>
        <li>手機系統</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
      </ul>

      <ul class="is-flexBox image-list__item">
        <li>id</li>
        <li>udid</li>
        <li>手機系統</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
      </ul>

      <ul class="is-flexBox image-list__item">
        <li>id</li>
        <li>udid</li>
        <li>手機系統</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
      </ul>

      <ul class="is-flexBox image-list__item">
        <li>id</li>
        <li>udid</li>
        <li>手機系統</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
      </ul>

      <ul class="is-flexBox image-list__item">
        <li>id</li>
        <li>udid</li>
        <li>手機系統</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
        <li>註冊時間</li>
      </ul>

    </ul>
  </div>