<header class="header is-flexBox">
  <div class="header__logo">
    <img class="header__logo__img" src="../../../assets/image/HiTRUST_logo_white.png" alt="">
  </div>
  <ul class="header__list is-flexBox cursor-pointer">
    <li class="header__list__item" routerLink="/dash-board">dash board</li>
    <li class="header__list__item" routerLink="/image-management">image management</li>
    <li class="header__list__item">xxxxxxxxxxxx</li>
    <li class="header__list__item">xxxxxxxx</li>
    <li class="header__list__item header__list__item--logout" routerLink="">logout</li>
  </ul>
</header>