<div class="dash-board is-flexBox section-paddinginside">

  <div class="hcp-block dash-board__item dash-board__item--red">
    <div class="dash-board__chart"></div>
    <p class="dash-board__text"></p>
  </div>

  <div class="hcp-block dash-board__item dash-board__item--orange">
    <div class="dash-board__chart"></div>
    <p class="dash-board__text"></p>
  </div>

  <div class="hcp-block dash-board__item dash-board__item--green">
    <div class="dash-board__chart"></div>
    <p class="dash-board__text"></p>
  </div>

</div>