/* You can add global styles to this file, and also import other style files */

/*
    主色： 紅色/橙色
    配色： 黃/藍/綠/粉
    紅：#d60707;
    橙：#ff5200;
    綠：#5abd5f;
    灰：深 #afafaf 淺 #efefef;
*/

@import './assets/css/reset.css';


* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

/* 背景底色 */
body {
    background-color: #f3f3f3;
}

/* 第二層標題 樣式 */
.sub-title {
    width: 100%;
    height: 55px;
    line-height: 55px;
    background-color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 0 60px;
    text-transform: uppercase;
}

/* 整體框架內推 樣式 */
.section-paddinginside {
    margin: 2% 60px;
}

/* 基本block 樣式 */
.hcp-block {
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 3px 3px 10px #c1c1c1;
    border: 1px solid #d8d6d6;
    overflow: hidden;
}

/* 滑鼠變手指 樣式 */
.cursor-pointer {
    cursor: pointer;
}

/* flexBox 樣式 */
.is-flexBox {
    display: flex;
}

/* 目前不確定有沒有用處 */
.margin-center {
    margin-left: auto;
    margin-right: auto;
}

.text-align-center {
    text-align: center;
}
/* 目前不確定有沒有用處 */